{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <ul>
        {{ range .Paginator.Pages.ByDate.Reverse }}
            <li>
                <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
                <p></p><p>
                    {{ $summarysplits := split .Content "<!--start-summary-->" }}
                    {{ if ge (len $summarysplits) 2 }}
                        {{ $test := split (index $summarysplits 1 ) "<!--nomore-->"  }}
                        {{if ge (len $test) 2 }}
                        {{index $test 0  | plainify | safeHTML }}
                        {{ else }}
                    {{ index $test 0 |  plainify | safeHTML | truncate 350 }}
                    {{ end }}
                    {{ else  }}
                    {{ .Summary | truncate 350 }}
                    {{ end }}
                </p>
            </li>

        {{ end }}

    </ul>
          {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">  Prev </a>
{{ end }}
{{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">  Next </a>
    {{ end }}
</div>
{{ end }}
